/*====================== TASKBOX ======================*/
.tasksBox {
    width: 100%;
    margin-top: 5rem;
}

.tasksBox header {
    display: flex;
    justify-content: space-between;
}

.tasksBox header > div:first-child strong{
    color: var(--blue);
}
.tasksBox header > div:last-child strong{
    color: var(--purple);
}

.tasksBox header > div > span {
    margin-left: 0.25rem;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;

    background-color: var(--gray-400);
}
/*==================================================================*/

/*====================== CONTEÚDO DO TASKBOX ======================*/
.content:not( article) {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    margin-top: 2rem;
    padding: 4rem 2rem;
    border-top: 1px solid var(--gray-300);
    border-radius: 8px;
}

.content:has(article) {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 2rem 0 4rem;
    border: none ;
}
/*==================================================================*/





